15:00|python /home/pi/weedle/gardener/main/weedleSunON.py
15:05|python /home/pi/weedle/gardener/main/weedleAdjustClimate.py
15:10|python /home/pi/weedle/gardener/main/weedleAdjustClimate.py
15:15|python /home/pi/weedle/gardener/main/weedleAdjustClimate.py
15:20|python /home/pi/weedle/gardener/main/weedleAdjustClimate.py
15:25|python /home/pi/weedle/gardener/main/weedleSunOFF.py
15:26|python /home/pi/weedle/gardener/main/elements/sun/redlightON.py
15:27|bash /home/pi/weedle/gardener/main/plantdiagnostic/takePlantPicture.sh
15:28|python /home/pi/weedle/gardener/main/elements/sun/redlightOFF.py
15:29|python /home/pi/weedle/gardener/main/elements/sun/bluelightON.py
15:30|bash /home/pi/weedle/gardener/main/plantdiagnostic/takePlantPicture.sh
15:31|python /home/pi/weedle/gardener/main/elements/sun/bluelightOFF.py
15:32|python /home/pi/weedle/gardener/main/elements/sun/whitelightON.py
15:33|bash /home/pi/weedle/gardener/main/plantdiagnostic/takePlantPicture.sh
15:34|python /home/pi/weedle/gardener/main/elements/sun/whitelightOFF.py
