0
10
15
2
20
0
2
20
5
0
10
20
5
10
3
0
5
20
5
10
15
15
10
5
0
0
0
0
0
0
# Format:
#    In order.. THCL-WASwas
#
#    Data Set - One Unit = 6 lines:
#    T-WAS (positive ratio)
#    line 1 Temperature Ratio: (T) Water +
#    line 2 Temperature Ratio: (T) Air +
#    line 3 Temperature Ratio: (T) Sun +
#    T-was (negative ratio)
#    line 1 Temperature Ratio: (T) water -
#    line 2 Temperature Ratio: (T) air -
#    line 3 Temperature Ratio: (T) sun -
#
#... same for HCL...

